<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .box {
                background-color: pink;
                height: 100px;
                width: 100px;
            }

            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <!-- overall — v-cloak v-model v-if, etc. are known as directives -->

        <!-- v-cloak is needed because when you refresh the app, you'll see some unrendered vue shit on the screen. For example, {{greeting}} will appear as it is in plain text before quickly being rendered to show the content of the greeting variable. This is because vue needs time to render.
        
        After you add the v-cloak attribute, you need set the style to be display:none; — what happens is that when vue is rendering, this div will have the v-cloak attribute, so the whole vue html app is hidden while vue is rendering. Only when it is done, the vcloak automatically disappears and the display: none no longer apply to this div.-->
        <div id="app" v-cloak>
            <h4>Vue 3 Tutorial (Normal HTML)</h4>
            <!-- the double braces is known as double mustache syntax -->
            {{greeting}}

            <!-- v-model directive to allow normal html element to interact with vue. Here, the 'v-model' functions like a normal HTML attribute like href -->
            <input v-model="myMessage" />

            <hr />

            <!-- v-if is like an if statement, if the value of 'isVisible' is true, then display will show, else it wont show. -->
            <div v-if="isVisible" class="box"></div>

            <!-- basically v-if and v-show is the same — if true the html tag will appear else it won't appear.
            The difference however, is that for v-if = false, what will happen is the entire DOM won't render (i..e inspect element also cannot find). But for v-show, you inspect element can find, just see it has style of display:none;
            TLDR; use v-show when u need to toggle DOM frequently for performance -->
            <!-- <div v-show="isVisible" class="box"></div> -->

            <!-- guess what, there's v-if, and also v-else-if and v-else -->
            <!-- if show1 is true, then 1 will show, else if show2 is true, then 2 will show, else 3 will show — basically a simple if else statement -->
            <div v-if="show1">1</div>
            <div v-else-if="show2">2</div>
            <div v-else>3</div>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script>
            // Create vue app — inside of which is a options object
            let app = Vue.createApp({
                data: function () {
                    return {
                        greeting: "Vue 3 Tutorial (VUE HTML)",
                        myMessage: "Secret Message",
                        // if this is set to false, the pink box will disappear
                        isVisible: true,
                        show1: false,
                        show2: true,
                    };
                },
            });
            // Mount/attach the vue instance to a particular html element
            // This vue element can interact with all DOM element inside the #app div
            app.mount("#app");
        </script>
    </body>
</html>
