<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            /* This style is necessary for v-cloak rendering delay — see the description below */
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <!-- overall — v-cloak v-model v-if, etc. are known as directives -->

        <!-- v-cloak is needed because when you refresh the app, you'll see some unrendered vue shit on the screen. For example, {{greeting}} will appear as it is in plain text before quickly being rendered to show the content of the greeting variable. This is because vue needs time to render.
        
        After you add the v-cloak attribute, you need set the style to be display:none; — what happens is that when vue is rendering, this div will have the v-cloak attribute, so the whole vue html app is hidden while vue is rendering. Only when it is done, the vcloak automatically disappears and the display: none no longer apply to this div.-->
        <div id="app" v-cloak>
            <h4>Vue 3 Tutorial on Components</h4>

            <login-form />
            <!-- the double braces is known as double mustache syntax -->
            {{greeting}}

            <!-- v-model directive to allow normal html element to interact with vue. Here, the 'v-model' functions like a normal HTML attribute like href — in this input field as you type stuff your value will change. -->
            <input v-model="myMessage" />

            <hr />

            <!-- v-if is like an if statement, if the value of 'isVisible' is true, then display will show, else it wont show. -->
            <div v-if="isVisible" class="box"></div>
            <br />
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script>
            // Create vue app — inside of which is a options object
            // Right now we're only using ONE component
            let app = Vue.createApp({
                // This 'data' property stores a function that contain and returns variables we can use, i.e. setting greeting variable to a certain value
                data: function () {
                    return {
                        greeting: "Vue 3 Tutorial (VUE HTML)",
                        myMessage: "Secret Message",
                        // if this is set to false, the pink box will disappear
                        isVisible: true,
                    };
                },
                methods: {
                    // A method that can be used in the vue js template mounted to a html DOM
                    toggleBtnWithAlert() {
                        alert("I clicked toggle btn with alert");
                        // You need the this.variable to access the variable
                        this.toggleBtnAlert = !this.toggleBtnAlert;
                    },
                    alertOnEnterKeyKeyup(exampleArgument) {
                        alert(
                            this.keyupInputFieldValue + "\n" + exampleArgument
                        );
                    },
                },
            });

            // create the component after you define the app and before you mount the app
            // takes in 2 params - one is the custom html tag you created, another one is your options object
            app.component("login-form", {
                // The first input is the original input
                // The next 2 inputs are the custom component input
                // v-bind is to turn the regular html attribute into something that can be parsed as javascript, so when u use labelForChildComponent="abc", you're able to pass the {{emailLabel}} variable content to labelForChildComponent which the child component can access
                template: `
                    
                    <form @submit.prevent="handleSubmit">
                        <h1> {{title}} </h1>
                        Email (Original Input): <input type="email" v-model="emailInput"/>
                        <br><br>
                        <custom-input type="password" v-bind:labelForChildComponent="emailLabel" v-model="emailInput"/>
                        <br><br>
                        
                        <custom-input type="password" v-bind:labelForChildComponent="passwordLabel"/>
                        <br><br>
                        <button>Login</button>
                    </form>
                `,
                // if you're using other custom components in your component, you need to reference them here.
                components: ["custom-input"],
                // data method to this component to get variables
                data() {
                    return {
                        // This value can only be used INSIDE this component, not the entire vue app.
                        // So you can only add this to the template above
                        title: "Login Form",
                        emailInput: "",
                        passwordInput: "",
                        emailLabel: "Email (Vue Component Input)",
                        passwordLabel: "Password (Vue Component Input)",
                    };
                },
                methods: {
                    handleSubmit() {
                        alert(
                            "submitted" +
                                "\nEmail: " +
                                this.emailInput +
                                "\nPassword: " +
                                this.passwordInput
                        );
                    },
                },
            });
            app.component("custom-input", {
                template: `
                    <label>

                        {{labelForChildComponent}}
                        <input type="text">
                    </label>
                `,

                props: ["labelForChildComponent"],
            });
            // Mount/attach the vue instance to a particular html element
            // This vue element can interact with all DOM element inside the #app div
            app.mount("#app");
        </script>
    </body>
</html>
